@font-face {
  font-family: "vazir";
  src: url(../assest/fonts/Vazir-Medium.woff);
}
@font-face {
  font-family: "yekan";
  src: url(../assest/fonts/Yekan.woff);
}
@font-face {
  font-family: "lalezar";
  src: url(../assest/fonts/Lalezar.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "vazir", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.padding {
  padding: 15px 70px;
}

/* header style  */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
/* header right section style  */

header .right {
  display: flex;
  align-content: center;
  gap: 30px;
}
header .right .logo {
  width: 100px;
  margin-top: 8px;
}
header .right .logo img {
  width: 100%;
}
.right .ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 15px;
}
.right .ul .li {
  cursor: pointer;
  padding: 20px 0px;
}
.right .ul li a {
  color: #2f2f2f;
  transition: 0.2s;
}
.right .ul li a:hover {
  color: #0d75dd;
}

#active-li {
  color: #0d75dd;
}
.angle {
  font-size: 16px;
  margin-right: 3px;
  transition: 0.1s;
  font-weight: bold;
}
.course-nav a:hover .angle {
  transform: rotate(-90deg);
}
.course-nav:hover .drop-down {
  display: flex;
}
.course-nav {
  position: relative;
}
.drop-down {
  position: absolute;
  top: 55px;
  display: none;
  flex-direction: column;
  gap: 10px;
  background: #ffffff;
  /* box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px; */
  box-shadow: rgba(157, 202, 247, 0.3) 0px 4px 16px;

  width: 220px;
  border-radius: 8px;
  padding: 8px 15px 15px 15px;
}
.drop-down a {
  border-bottom: 1px solid #e3e3e3;
}
.drop-down a li {
  font-family: "yekan", sans-serif;
  font-size: 13px;
  padding-bottom: 5px;
}
.drop-down a:last-child {
  border-bottom: none;
}

/* header left style  */

header .left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left .shoping {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6e6e6;
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 8px;
  cursor: pointer;
}
.left .shoping i {
  font-size: 28px;
  color: #686868;
}
.shoping .shoping-count {
  position: absolute;
  background: #0d75dd;
  font-size: 10px;
  color: #ffffff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  top: 25px;
  right: 5px;
}
.login-btn {
  background-color: #3698f9;
  border: 1px solid #0882fc;
  box-shadow: rgba(157, 202, 247, 0.5) 0px 6px 16px;

  color: #ffffff;
  width: 120px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 14px;
}
.login-btn:hover {
  background: #ffffff;
  color: #0882fc;
  /* box-shadow: rgba(157, 202, 247, 0.3) 0px 4px 16px; */
  box-shadow: inset #80bfff 0px 0px 40px -12px;
}
.navbar {
  background: #e6e6e6;
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 24px;
  display: none;
}
/* main style  */
.main {
  height: 400px;
  background: linear-gradient(rgba(7, 52, 177, 0.3), rgba(0, 0, 0, 1)),
    url(../assest/img/bg1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #cccccc;
}
.main h1 {
  font-size: 50px;
  font-family: "lalezar", sans-serif;
  color: #fa7a25;
  font-weight: 900;
}
.main i {
  font-size: 220px;
  font-weight: 900;
}

/* suggestion-courses style */
.suggestion-courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.course-title {
  font-family: "vazir", sans-serif;
  color: #2f2f2f;
  padding: 40px 70px 5px 70px;
}
.course {
  border-radius: 12px;
  /* overflow: hidden; */
  border: 1px solid #e1e1e1;
  transition: 0.6s;
  position: relative;
}
.descont-lable {
  position: absolute;
  top: -22px;
  left: -12px;
}

#lable-img {
  width: 70px;
  position: relative;
  transition: 0.5s;
}
.course:hover #lable-img {
  transform: rotate(12deg);
}
.course:hover .descont-lable p {
  transform: rotate(12deg);
}
.descont-lable p {
  position: absolute;
  top: 18px;
  right: 17px;
  line-height: 18px;
  font-size: 14px;
  color: white;
  font-family: "lalezar", sans-serif;
  text-align: center;
  transition: 0.5s;
}
.course img {
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.course:hover {
  /* box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px; */
  box-shadow: rgba(157, 202, 247, 0.3) 0px 4px 16px;

  transform: translateY(-4px);
  transform: scale(10px);
}
.course .h4 {
  color: #676767;
  padding: 5px 10px;
}
.course .h4:hover {
  color: #0882fc;
}
.teacher {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 25px 10px 10px 10px;
  gap: 5px;
  color: #8d8c8c;
  font-size: 14px;
}
.teacher p {
  font-family: "yekan", sans-serif;
}
.teacher i {
  font-size: 20px;
}
.course-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #eee;
  padding: 10px;
  color: #8d8c8c;
  font-family: "yekan", sans-serif;
  font-size: 14px;
}
.student {
  display: flex;
  align-items: center;
  gap: 10px;
}
.student i {
  font-size: 20px;
}
.student p {
  font-family: "yekan", sans-serif;
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.price-descount {
  background: #48a3fd;
  color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price-descount span {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  left: -10px;
  transform: rotate(45deg);
}
.prev-price {
  position: relative;
}
.prev-price span {
  width: 70px;
  height: 1.3px;
  display: block;
  background-color: #676767;
  position: absolute;
  transform: rotate(-10deg);
  top: 10px;
  left: -7px;
}
/* all courses section  */
.courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

/* blogs style  */
.blogs-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}
.underline {
  position: absolute;
  left: 25%;
  border: none;
  border-top: 1.5px dotted #dbdbdb;
  color: #fff;
  background-color: #fff;
  height: 2px;
  width: 50%;
}
.blogs-title a {
  background-color: #3698f9;
  padding: 10px 25px;
  border-radius: 30px;
  color: #ffffff;
  border: 1px solid #0882fc;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: rgba(157, 202, 247, 0.5) 0px 6px 16px;
}
.blogs-title a:hover {
  background-color: transparent;
  color: #0882fc;
  box-shadow: rgba(157, 202, 247, 0.7) 0px 4px 16px;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.blog {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #eee;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: inset #80bfff 0px 0px 20px -12px;
}
.blog:hover {
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: rgba(157, 202, 247, 0.3) 0px 4px 16px;
}
.img-container .img {
  overflow: hidden;
  width: 100%;
}
.img-container {
  position: relative;
  height: 160px;
  overflow: hidden;
  width: 100%;
}
.blog:hover img {
  transform: scale(1.1);
}
.img-container .blog-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  background-color: rgba(100, 100, 111, 0.5);
  padding: 10px;
  bottom: 0;
  color: white;
  font-size: 12px;
}
.img img {
  width: 100%;

  transition: 0.5s;
}
.blog-desc {
  padding: 10px 20px 20px 20px;
}
.blog-desc h3 {
  font-family: "vazir", sans-serif;
  /* padding: 10px ; */
  color: #2f2f2f;
}
.blog-desc p {
  color: #727272;
  font-family: "yekan", sans-serif;
  font-size: 14px;
  line-height: 25px;
  padding-top: 10px;
}

/* why us section style  */
.why-us-title {
  font-family: "vazir", sans-serf;
}
.why-us-title h2 {
  font-size: 25px;
  margin: 10px 0;
  font-family: "vazir", sans-serif;
}
.why-us-title p {
  font-size: 13px;
}
.why-us {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: rgba(157, 202, 247, 0.3) 0px 4px 16px;
  padding: 20px 35px 10px;
  cursor: pointer;
}
.card-icon {
  position: relative;
  margin-bottom: 10px;
}
.lable {
  width: 40px;
  height: 80px;
  background-color: #eaf5ff;
  display: block;
  position: absolute;
  left: 35px;
  border-radius: 50px;
  top: -5px;
  z-index: -10;
}
.card-icon i {
  /* background-color: #4ba4fc; */
  color: #4ba4fc;
  font-size: 60px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
  /* box-shadow: rgba(157, 202, 247, 0.5) 0px 4px 16px; */
}

.card p {
  font-size: 17px;
  font-family: "lalezar", sans-serif;
  color: #2f2f2f;
}
.card span {
  font-size: 15px;
  font-family: "yekan", sans-serif;
  margin-top: -5px;
}

/* footer section style  */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  box-shadow: rgba(157, 202, 247, 0.8) 0px 4px 16px;
  margin-top: 70px;
  padding: 60px 70px 20px 70px;
}
.footer-about .img {
  width: 100%;
  background: rgb(213, 234, 255);
  padding: 20px;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: rgba(157, 202, 247, 0.6) 0px 4px 16px;
}
.footer-about img {
  width: 100px;
}
.footer-about p {
  font-family: "yekan", sans-serif;
  line-height: 23px;
  color: #565656;
  padding-top: 10px;
  text-align: center;
}
.news img {
  width: 60px;
}

.footer-link h3 {
  color: #2f2f2f;
}
.footer-link ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 8px 20px 0 0;
}
.footer-link ul li {
  position: relative;
}
.footer-link ul li::before {
  content: "·";
  font-size: 45px;
  vertical-align: middle;
  position: absolute;
  line-height: 20px;
  right: -20px;
  top: 12px;
  color: #48a3fd;
}

.footer-link ul li a {
  font-family: "yekan", sans-serif;
  color: #565656;
}
.footer-link ul li a:hover {
  color: #48a3fd;
}
.footer-contact h3 {
  color: #2f2f2f;
}
.contact-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 5px 0px 0px;
}
.contact-icon i {
  color: #48a3fd;
  font-size: 20px;
}
.contact-icon p {
  font-family: "yekan", sans-serif;
  color: #565656;
}

.news p {
  font-family: "yekan", sans-serif;
  color: #424242;
  line-height: 24px;
}

footer .input-group {
  width: 100%;
  border: 1px solid #7bbcfd;
  height: 40px;
  border-radius: 8px;
  padding: 5px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 3px;
  box-shadow: inset #7bbcfd 0px 0px 20px -12px;
}
footer .input-group input {
  width: 70%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
footer .input-group input:focus {
  border: 1px solid #dedede;
}
footer .input-group label {
  background: #48a3fd;
  width: 30%;
  height: 100%;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .input-group label:hover {
  background: #3a99f8;
}
