@font-face {
    font-family: 'vazir';
    src: url(../assest/fonts/Vazir-Medium.woff);
}
@font-face {
    font-family: 'yekan';
    src: url(../assest/fonts/Yekan.woff);
}
@font-face {
    font-family: 'shabnam';
    src: url(../assest/fonts/Shabnam-Bold.woff);
}