body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to left, #dfe9f3 0%, white 100%);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(119, 187, 254, 0.2) 0px 8px 24px;
  padding: 20px;
  margin: 30px auto;
}
.header {
  width: 100%;
  background-color: #f5f8fc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 12px;
}
.header img {
  width: 120px;
}
.header p {
  font-family: "lalezar", sans-serif;
  font-size: 24px;
  color: rgb(3, 125, 247);
}
form {
  width: 100%;
  margin-top: 10px;
}
.input-group {
  background-color: #f5f8fc;
  position: relative;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  height: 45px;
}
.input-group input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px 10px 10px 40px;
  font-family: "yekan", sans-serif;
  border-radius: 8px;
  border: 1px solid #f5f8fc;

}
.input-group input:focus{
    border: 1px solid rgb(137, 196, 255);
}
.input-group i {
  position: absolute;
  left: 8px;
  font-size: 18px;
  color: #7e7e7e;
}
.submit-btn {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  background-color: dodgerblue;
  color: white;
  outline: none;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}
.submit-btn:hover {
  background-color: rgb(8, 130, 252);
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "vazir", sans-serif;
  font-size: 13px;
  margin-top: 20px;
  gap: 5px;
  color: #7e7e7e;

}
.signinupBtn{
    color: rgb(8, 130, 252);
}
