.about {
  height: 200px;
  background: linear-gradient(rgba(68, 114, 241, 0.3), rgb(4, 119, 250)),
    url(../../assest/img/about.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #cccccc;
}
.about h1{
    color: #ff9e30;
}
.about p{
    color: #ffffff;
}